body{
  background-image: url('image.jpg');
  background-size:cover; 
  background-position: center; 
  background-repeat:no-repeat; 
  margin: 0;
  height: 100vh;
  display: flex;           
  flex-direction: column;  
  justify-content: center; 
  align-items: center;      
  font-family: Arial, sans-serif;
  text-align: center;
   text-decoration: none;
}

h1 {
margin: 0;
color:aliceblue;
  font-size: 6em;    
  text-shadow: #d760dd 0px 0px 20px;
         
}

a {
  color: rgb(235, 58, 167);
  text-decoration: none; 
  font-size: 4em; 
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
  color: pink;
  text-shadow: #FFF 0px 0px 20px;
  transform: scale(1.1);
}